
@use "@material/card";

@include card.core-styles;
.top{
  padding: 2vh 0;
  background-color: aqua;
  text-align: center;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.my-card {
  height: 350px;
  width: 350px;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
  display: flex;
}
.MuiPaper-root.MuiPaper-outlined.MuiPaper-rounded.MuiCard-root{justify-content: center;
    display: flex;
    align-items: center;
}
.MuiInputBase-input.MuiInput-input{
  width: 35vw;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiChip-deleteIcon.MuiChip-deleteIconMedium.MuiChip-deleteIconColorDefault.MuiChip-deleteIconOutlinedColorDefault{
  color: white;
  margin-right: 0.9vw;
}
.MuiButtonBase-root.MuiChip-root.MuiChip-outlined.MuiChip-sizeMedium.MuiChip-colorDefault.MuiChip-deletable.MuiChip-deletableColorDefault.MuiChip-outlinedDefault{
  position: absolute;
    margin-top: -6.5vh;
    margin-left: 32vw;
}

.label{
  display: inline-flex;
      width: 35vw;
      background: azure;
      height: 5vh;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: x-large;
      color: cornflowerblue;
} 
.todos-container{
  margin-top: 4vh;
  position: relative;
} 
.MuiButtonBase-root.MuiChip-root.MuiChip-outlined.MuiChip-sizeMedium.MuiChip-colorDefault.MuiChip-clickable.MuiChip-clickableColorDefault.MuiChip-deletable.MuiChip-deletableColorDefault.MuiChip-outlinedDefault{
  margin-top: -5vh;
}
.css-1wckuhe-MuiPaper-root-MuiSnackbarContent-root{
  background-color: aquamarine !important;
}
.MuiPaper-root.MuiPaper-outlined.MuiPaper-rounded.MuiCard-root{
  margin: 20vh 20vw;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation6.MuiSnackbarContent-root{
  color: cornflowerblue;
  font-size: 19px;
  font-weight: bolder;
  background-color: aquamarine !important;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiChip-deleteIcon.MuiChip-deleteIconMedium.MuiChip-deleteIconColorDefault.MuiChip-deleteIconOutlinedColorDefault{
  color: cornflowerblue;
}

.MuiPaper-root.MuiPaper-outlined.MuiPaper-rounded.MuiCard-root{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}